<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Abel|Indie+Flower|Satisfy|Source+Code+Pro|Tomorrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>{% block heading %}{% endblock %}</h1>
      {% block body %}
      {% endblock %}
      <p class="footer">
          <span class="login-barz">
              <a href="{{ url_for('search') }}">Search</a> |
              {% if user %}
              Logged in as <b>{{ user.username }}</b> | <a href="{{ url_for('logout') }}">Logout</a>
              {% else %}
              <a href="{{ url_for('login') }}">Login</a> |
              <a href="{{ url_for('register') }}">Register</a>
              {% endif %}
          </span>
        </p>
    </div>
  </body>
</html>
